/* Extra large devices (large desktops, 1366px and down) */
@media (max-width: 1366px) {}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
   
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {

    section {
        padding: 40px 0;
    }

    .header{
        background: #fff;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }

    .navbar .navbar-nav .nav-item {
        margin-left: 0;
    }

    .navbar .navbar-nav .nav-item .nav-link{
        padding: 10px;
    }

    .banner{
        padding: 200px 0 50px;
    }

    
    
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {}